<div class="mat-elevation-z8">
  <table mat-table [dataSource]="settlements" class="mat-table">

    <ng-container matColumnDef="projectName">
      <th mat-header-cell *matHeaderCellDef> Project Name </th>
      <td mat-cell *matCellDef="let project"> {{project.name}} </td>
    </ng-container>

    <ng-container matColumnDef="clientName">
      <th mat-header-cell *matHeaderCellDef> Client Name </th>
      <td mat-cell *matCellDef="let project"> {{project.clientName}} </td>
    </ng-container>

    <ng-container matColumnDef="clientUuid">
      <th mat-header-cell *matHeaderCellDef> Client UUID </th>
      <td mat-cell *matCellDef="let project"> {{project.clientUuid}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let project">
        <a class="btn btn-sm btn-success mx-1" [routerLink]="['/projects', project.clientUuid, 'details']">Sprawdź szczegóły</a>
        <a class="btn btn-sm btn-warning mx-1 text-dark" [routerLink]="['/projects', project.clientUuid, 'edit']">Modyfikuj</a>
        <a class="btn btn-sm btn-danger mx-1" [routerLink]="['/projects', project.clientUuid, 'delete']">Usuń</a>

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
