<form [formGroup]="addSettlementForm" (ngSubmit)="onAddSettlement()">
  <div class='form-input text-center mt-1'>
    <mat-form-field>
      <mat-label >Settlement Type</mat-label>
      <mat-select [formControl]="controls.settlementType">
        <mat-option value="general">General</mat-option>
        <mat-option value="taxi">Taxi</mat-option>
        <mat-option value="businesstrip">Business trip</mat-option>
        <mat-option value="businessmeeting">Business meeting</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class='form-input text-center'>
    <mat-form-field>
    <mat-label>Project</mat-label>
    <mat-select>
      <mat-option value="one">project id</mat-option>
    </mat-select>
    </mat-form-field>
  </div>
  <div class='form-input text-center'>
    <mat-form-field>
      <mat-label>Work</mat-label>
      <mat-select>
        <mat-option value="one">work id</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class='form-input text-center'>
    <mat-form-field appearance='fill'>
      <mat-label>Address</mat-label>
      <textarea matInput rows="3" cols="4"></textarea>
    </mat-form-field>
  </div>
  <ng-container *ngIf="controls.settlementType?.getRawValue() === 'taxi'">
  <div class='form-input text-center' >
    <mat-form-field appearance='fill'>
      <mat-label>Address start</mat-label>
      <textarea matInput rows="3" cols="4"></textarea>
    </mat-form-field>
  </div>
  <div class='form-input text-center'>
    <mat-form-field appearance='fill'>
      <mat-label>Address target</mat-label>
      <textarea matInput rows="3" cols="4"></textarea>
    </mat-form-field>
  </div>
  </ng-container>
  <ng-container *ngIf="controls.settlementType?.getRawValue() === 'businesstrip'">
  <div class='form-input text-center'>
    <mat-form-field appearance='fill'>
      <mat-label>Country</mat-label>
      <input type='text' matInput>
    </mat-form-field>
  </div>
  </ng-container>
  <div class='form-input text-center'>
    <mat-form-field appearance='fill'>
      <mat-label>Amount of Money</mat-label>
      <input type='number' matInput>
    </mat-form-field>
  </div>
  <div class='form-input text-center'>
    <mat-form-field appearance='fill'>
      <mat-label>description</mat-label>
      <textarea matInput rows="10" cols="40"></textarea>
    </mat-form-field>
  </div>
  <div class="d-flex justify-content-center m-1">
    <button mat-raised-button color="primary" class="centered-button-container">
      Add Settlement
    </button>
  </div>
</form>
